telegram_bot_token = "{{ TELEGRAM_BOT_TOKEN }}"
payment_provider_token = "{{ PAYMENT_PROVIDER_TOKEN }}"

support = "{{ emb_support | default('') }}"
help = "{{ emb_help | default('') }}"
# telegram ids, comma separated
admin_ids = "{{ telegram_admin_ids_list }}"

# show participant lists to all participants
public_lists = {{ emb_public_lists | default('false') }}

# add users to black list when verifying presence
automatic_blacklisting = {{ emb_automatic_blacklisting | default('false') }}

# hours to keep old events before removing
drop_events_after_hours = {{ emb_drop_events_after_hours | default(24) }}

# days to keep users in the black list
delete_from_black_list_after_days = {{ emb_delete_from_black_list_after_days | default(30) }}

# how many hours before event
too_late_to_cancel_hours = {{ emb_too_late_to_cancel_hours | default(1) }}

# pagination
event_list_page_size = {{ emb_event_list_page_size | default(20) }}
event_page_size = {{ emb_event_page_size | default(40) }}
presence_page_size = {{ emb_presence_page_size | default(40) }}

# cancel all user reservations when banned
cancel_future_reservations_on_ban = {{ emb_cancel_future_reservations_on_ban | default('false') }}

# when sending bulk notifications to multiple users
limit_bulk_notifications_per_second = {{ emb_limit_bulk_notifications_per_second | default(20) }}

cleanup_old_events = {{ emb_cleanup_old_events | default('true') }}

# don't send messages outside these hours
mailing_hours = "{{ emb_mailing_hours | default('08:00 +02:00..21:00 +02:00') }}"

# api config
listen_address = "{{ emb_listen_address | default('0.0.0.0') }}"
listen_port = {{ emb_listen_port | default(3000) }}

# database config
db_protocol = "{{ emb_db_protocol | default('postgres') }}"
db_host = "db-{{ docker_image_version }}"
db_port = "{{ emb_db_listen_port | default('5432') }}"
db_name = "{{ db_name | default('postgres') }}"
db_username = "{{ db_username | default('postgres') }}"
db_password = "{{ db_password | default('postgres') }}"