- hosts: app
  gather_facts: yes
  become: true
  roles:
    - andrewrothstein.docker-compose
    - nginxinc.nginx
  tasks:
    - name: Create dir
      file:
        path: "/opt/{{ docker_image_version }}/data"
        state: directory
        recurse: yes
        owner: docker
        group: docker

    - name: Install pip
      package:
        name: pip
        state: present

    - name: Pip remove requests
      pip:
        name:
          - requests
        state: absent

    - name: Pip install necessary libraries
      pip:
        name:
          - docker-compose
          - requests==2.28.1
          - psycopg2-binary==2.8.6

    - name: Config nginx
      include_role:
        name: nginxinc.nginx_config
      vars:
        nginx_config_http_params:
          - template_file: http/default.conf.j2
            deployment_location: /etc/nginx/conf.d/default.conf
            config:
              servers:
                - default:
                    listen:
                      - port: 80
                    log:
                      access:
                        - path: /var/log/nginx/access.log
                          format: main
                    rewrite:
                      - name: redirect to https
                        condition: $scheme = http
                        redirect: https://$host$request_uri